<h1 style="text-align: center">{{ title }}</h1>
<section class="container-main">
  <div class="container">
    <div class="col">
      <br /><br />

      <form class="form-group align-items-center row" id="formulario">
        <div class="form-group col-md-6">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Nombre"
            class="form-control"
            [(ngModel)]="cuadroNombre"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="apellido">Apellido:</label>
          <input
            type="text"
            name="apellido"
            id="apellido"
            placeholder="Apellido"
            class="form-control"
            [(ngModel)]="cuadroApellido"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="cargo">Cargo:</label>
          <input
            type="text"
            name="cargo"
            id="cargo"
            placeholder="Cargo"
            class="form-control"
            [(ngModel)]="cuadroCargo"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="salario">Salario:</label>
          <input
            type="text"
            name="salario"
            id="salario"
            placeholder="Salario"
            class="form-control"
            [(ngModel)]="cuadroSalario"
          />
        </div>
        <div class="col text-center d-grid gap-2 col-6 mx-auto">
          <button
            type="submit"
            class="btn btn-dark"
            (click)="agregarEmpleado()"
            style="margin-top: 10px"
          >
            Añadir
          </button>
        </div>
      </form>
    </div>
  </div>

  <br /><br />

  <div class="container">
    <div class="row">
      <div class="col">
        <app-empleado-hijo
          *ngFor="let empleado of empleados; let i = index"
          [empleado]="empleado"
          [indice]="i"
        ></app-empleado-hijo>
      </div>
    </div>
  </div>
</section>

<!-- Este componente app es el padre.

     Declaro las variables [empleado],[indice] que guardaran la informacion de las variables del *ngFor
     y asi pueda ser utilizada esta informacion en el componente hijo.
-->
